<f:layout name="Mail/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<f:translate key="templates_email_confirmationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="HgonDonation" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

<f:translate key="templates_email_confirmationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="HgonDonation" />
<f:translate key="templates_email_confirmationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="HgonDonation" />
<f:render partial="Email/DetailsDonation" section="Plaintext" arguments="{_all}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><f:translate key="templates_email_confirmationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="HgonDonation" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<f:translate key="templates_email_confirmationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="HgonDonation" /><br>
    </p>
    <p>
		<f:translate key="templates_email_confirmationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="HgonDonation" />
	</p>
	<f:render partial="Email/DetailsDonation" section="Html" arguments="{_all}"/>
</f:section>