<f:layout name="Mail/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<f:translate key="templates_email_confirmationAdmin.headline" languageKey="{language}" extensionName="HgonDonation" arguments="{0 : fullName}" />

<f:translate key="templates_email_confirmationAdmin.text1" languageKey="{language}" extensionName="HgonDonation" />

<f:translate key="templates_email_confirmationAdmin.text2" languageKey="{language}" extensionName="HgonDonation" />
<f:render partial="Email/DetailsDonation" section="Plaintext" arguments="{_all}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><f:translate key="templates_email_confirmationAdmin.headline" languageKey="{language}" extensionName="HgonDonation" arguments="{0 : fullName}" /></h1>
	<p><f:translate key="templates_email_confirmationAdmin.text1" languageKey="{language}" extensionName="HgonDonation" /></p>
    <p class="important"><f:translate key="templates_email_confirmationAdmin.text2" languageKey="{language}" extensionName="HgonDonation" /></p>

    <f:render partial="Email/DetailsDonation" section="Html" arguments="{_all}"/>

</f:section>