<section class="section">
    <div class="flex-container space-between gutter valign-stretch">
        <div class="flex-item c-6">
            <article class="card card--shadow card--primary">
                <f:render section="project" arguments="{_all}" />
            </article>
        </div>
        <div class="flex-item c-6">
            <article class="card card--shadow card--primary">
                <f:render section="form" arguments="{_all}" />
            </article>
        </div>
    </div>
</section>

<f:section name="project">
    <h3 class="headline">{donationTypeTime.title}</h3>

    <p>
        {donationTypeTime.shortDescription}
    </p>

    <p>Von:
        <f:format.date format="d.m.Y">
            {donationTypeTime.timeRangeStart}
        </f:format.date>
    </p>
    <p>Bis:
        <f:format.date format="d.m.Y">
            {donationTypeTime.timeRangeEnd}
        </f:format.date>
    </p>

    <p>Geschätzer Zeitaufwand:
        {donationTypeTime.timeRequirement}
        Stunden
    </p>

    <f:link.typolink parameter="{donationTypeTime.pages}" target="_blank" class="btn btn--white btn--rounded">
        Projekt ansehen
    </f:link.typolink>
</f:section>

<f:section name="form">
    <p>Ansprechpartner</p>
    -> @toDo: Ansprechpartner ist noch nicht klar geregelt. Wird wahrscheinlich über die Seite (die ein Projekt darstellt) selbst festgelegt und nach unten weitervererbt
    <p>Anmeldeformular (aktuell ohne Prüfung und ohne Mailversand)</p>
    <f:render partial="Standard/DonationTypeTime/FormFields" />
</f:section>