<f:for each="{donationType.donationTypeTime}" as="donationTypeTime">
	<div>
		<f:link.action action="showDonationTypeTime" arguments="{donationType:donationType, donationTypeTime:donationTypeTime}">
			<h3 class="title">
				{donationTypeTime.title}
			</h3>
			<p class="shortDescription">
				<f:format.raw>
					{donationTypeTime.shortDescription}
				</f:format.raw>
			</p>
			<p>
				<f:if condition="{donationTypeTime.image}">
					<f:image class="image" width="100" src="{donationTypeTime.image.uid}" alt="{donationTypeTime.image.originalResource.name}" treatIdAsReference="1" />
				</f:if>
			</p>
		</f:link.action>
	</div>
</f:for>