<f:if condition="<f:count>{donationList}</f:count>">

    <f:comment>
        <f:render partial="Donation/SidebarBankAccount" arguments="{_all}" />
    </f:comment>
    <aside class="aside aside--border aside-helpactivities color-bg-white">
        <header class="aside__header">
            <h6>
                <f:translate key="tx_hgondonation_templates_donation_donationProject.title" />
            </h6>
        </header>
        <div class="aside__content">
            <ul>
                <f:for each="{donationList}" as="donation">
                    <f:if condition="{donation.type}">
                        <li class="<f:if condition='{donation.type} == 1'><f:then>time</f:then><f:else>money</f:else></f:if>">
                            <p>
                                <strong>{donation.title}</strong><br>
                            </p>
                            <p>
                                <f:link.action action="show" controller="Donation" pageUid="{settings.showPid}" additionalParams="{tx_hgondonation_detail:{donation: donation}}">
                                    <f:if condition="{donation.type} == 1">
                                        Unterstützen mit Zeitspende
                                    </f:if>
                                    <f:if condition="{donation.type} == 2">
                                        Unterstützen mit Sachspende
                                    </f:if>
                                </f:link.action>
                            </p>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </div>
    </aside>
</f:if>

<f:for each="{donationList}" as="donation" iteration="iter">
    <f:if condition="{iter.isFirst}">
        <aside class="aside / no-padding">
            <div class="aside__content">
                <f:link.action pageUid="{settings.donationFormPid}" class="btn btn--cta btn--rounded" action="newMoney" arguments="{project: donation.txRkwprojectProject}" additionalAttributes="{data-featherlight: ''}">
                    <f:translate key="tx_hgondonation_templates_donation_donationProject.support" />
                </f:link.action>
            </div>
        </aside>
    </f:if>
</f:for>