<p>Unterstützen Sie die HGON mit Ihrem Beitrag.</p>
<div>
        <div id="payment-container" class="flex-container space-between gutter">
        <div class="flex-item c-12">
            <p>Online: <strong>Einfach unkompliziert</strong></p>
            <f:form class="form" action="createMoney" enctype="multipart/form-data" id="moneyAmount" name="moneyAmount" object="{moneyAmount}">
                <div id="message-container"></div>
                <!-- Override typeNum for AJAX -->
                <input type="hidden" name="type" value="{typeNumClearPage}">

                <div class="interval">
                    <p>Monatlich</p>
                    <span class="radio-group">
                        <label class="radio">
                            <span class="radio__input">
                                <f:form.radio id="permanentYes" class="input input-radio" property="permanent" value="1" />
                                <label for="permanentYes"></label>
                            </span>
                            <span class="checkbox__label">
                                Ja
                            </span>
                        </label>
                        <br />
                        <label class="radio">
                            <span class="radio__input">
                                 <f:form.radio id="permanentNo" class="input input-radio" property="permanent" value="0" checked="checked" />
                                <label for="permanentNo"></label>
                            </span>
                            <span class="checkbox__label">
                                Nein
                            </span>
                        </label>
                    </span>
                </div>
                <p>Individueller Wunschbetrag in <strong>€</strong></p>
                <f:form.textfield property="amount" placeholder="€" value="15" type="number" additionalAttributes="{step: '0.01'}"/>
                <p>
                    <f:form.submit class="btn btn--primary btn--rounded" value="Weiter" />
                </p>
            </f:form>

            <f:if condition="{settings.bankAccount.iban} && {settings.bankAccount.bic}">
                <p>Oder <strong>einfach überweisen</strong></p>
                <aside class="aside color-bg-cta">
                    <div class="aside__content">
                        <p>
                            {settings.bankAccount.bank}<br>
                            <strong>BIC</strong> {settings.bankAccount.bic}<br>
                            <strong>IBAN</strong> {settings.bankAccount.iban}
                        </p>
                    </div>
                </aside>
            </f:if>

        </div>
        <!--
        <div class="flex-item c-3">
            <p>Oder <strong>einfach überweisen</strong></p>
        </div>
        -->
    </div>
</div>
