{namespace hgon=HGON\HgonTemplate\ViewHelpers}

        <div class="article__content">
            <h2>{donation.title}</h2>
            <f:format.raw>
                {donation.description}
            </f:format.raw>
        </div>
        <br />
        <div class="wrap wrap--text / align-center">
            <f:comment>
                <formvh:render persistenceIdentifier="EXT:hgon_template/Configuration/Yaml/FormFramework/Forms/zeitspende.form.yaml"/>
            </f:comment>

            <f:if condition="{donation.type} == 1">
                <f:then>
                    <f:link.page pageType="{settings.typeNumPageWithCss}" pageUid="{settings.donationTimeFormPid}" class="btn btn--rounded btn--tertiary" additionalAttributes="{data-featherlight: 'iframe', data-featherlight-iframe-height: '800', data-featherlight-iframe-width: '600'}">
                        Ich will mitmachen!
                    </f:link.page>
                </f:then>
                <f:else>
                    <f:link.page pageType="{settings.typeNumClearPage}" pageUid="{settings.donationFormPid}" class="btn btn--rounded btn--tertiary" additionalParams="{project: donation.txRkwprojectProject}" additionalAttributes="{data-featherlight: ''}">
                        Ich will spenden!
                    </f:link.page>
                </f:else>
            </f:if>




        </div>





<f:comment><!-- OLD STUFF --></f:comment>
    <f:comment>
        <!-- SIDEBAR -->
        <div class="sidebar color-bg-light">

            <f:link.page class="link link--icon / float-right" pageUid="{settings.listPid}" title="Mitmachen"  section="zeitspenden">
                <svg class="icon icon--btn-left" width="18" height="18"><use xlink:href="#ui-arrow-left"></use></svg>
                <f:translate key="tx_hgondonation_templates_donation_show.backToList" />
            </f:link.page>

            <f:if condition="{donation.txRkwprojectProject.projectPid}">
                <aside class="aside">
                    <div class="aside__content">
                        <!-- Related links -->
                        <f:link.typolink class="btn btn--cta btn--rounded" parameter="{donation.txRkwprojectProject.projectPid}">
                            <f:translate key="tx_hgondonation_templates_donation_show.goToProject" />
                        </f:link.typolink>
                    </div>
                </aside>
            </f:if>

            <f:if condition="<f:count>{similarDonationList}</f:count>">
                <f:render section="furtherDonationOptions" arguments="{similarDonationList: similarDonationList}" />
            </f:if>

            <f:if condition="{donation.txRkwprojectProject.projectManager}">
                <f:for each="{donation.txRkwprojectProject.projectManager}" as="projectManager">
                    <f:render section="contactPerson" arguments="{author: projectManager}" />
                </f:for>
            </f:if>

            <f:cObject typoscriptObjectPath="page.10.variables.bankAccountSidebar" />
        </div>
    </f:comment>

<f:section name="furtherDonationOptions">
    <aside class="aside aside--border aside-helpactivities color-bg-white">
        <header class="aside__header">
            <h6><f:translate key="tx_hgondonation_templates_donation_show.similarDonationTime" /></h6>
        </header>
        <div class="aside__content">
            <ul>
                <f:for each="{similarDonationList}" as="similarDonation">
                    <li>
                        <p>
                            <strong>{similarDonation.title}</strong><br>
                        </p>
                        <p>
                            <f:link.action action="show" additionalParams="{tx_hgondonation_detail:{donation: similarDonation}}">Mehr erfahren</f:link.action>
                        </p>
                    </li>
                </f:for>
            </ul>
        </div>
    </aside>
</f:section>

<f:section name="contactPerson">
    <aside class="aside color-bg-tertiary">
        <header class="aside__header">
            <h6>
                <f:comment>
                    <f:translate key="tx_hgondonation_templates_donation_show.contactPerson" />
                </f:comment>
                Ansprechpartner*In
            </h6>
        </header>
        <div class="aside__content">
            <p class="cf">
                <f:if condition="{author.imageBoxes}" >
                    <f:image class="img-left" image="{author.imageBoxes}" alt="{author.imageBoxes.title}" cropVariant="1to1" width="100" height="100" />
                </f:if>
            </p>
            <p>
                <strong>{author.firstName} {author.lastName}</strong>
                <br/>
                {author.functionTitle}
                <br/>
            </p>
            <p>
                <f:if condition="{author.phone} || {author.phone2}">
                    <a href="tel:<hgon:php.pregReplace pattern='[^+0-9]' replacement='' subject='{author.phone} {author.phone2}' />">
                        <svg class="icon icon--btn-left color-font-primary" width="16" height="16"><use xlink:href="#ui-phone"></use></svg>
                        <f:format.stripTags>{author.phone} {author.phone2}</f:format.stripTags>
                    </a>
                    <br>
                </f:if>
                <f:if condition="{author.email}">
                    <a href="mailto:<f:format.stripTags><f:format.html>{author.email}</f:format.html></f:format.stripTags>">
                        <svg class="icon icon--btn-left color-font-primary" width="16" height="16"><use xlink:href="#ui-mail"></use></svg>
                        {author.email}
                    </a>
                </f:if>
            </p>
        </div>
    </aside>
</f:section>