<f:if condition="{project}">
    <div class="content">
        <div class="article__content">
            <span class="badge badge--secondary">Spendenprojekt<span class="is-hidden">: </span></span>

            <h2>{project.title}</h2>

            <f:if condition="{project.shortDescription}">
                <p><strong>{project.shortDescription}</strong></p>
            </f:if>

            <f:if condition="{project.description}">
                <f:format.html>{project.description}</f:format.html>
            </f:if>

            <f:if condition="{project.galleryImages}">
                <h3>Fotos</h3>
                <div class="slider slider--small js-slider" data-slide="0">
                    <f:for each="{project.galleryImages}" as="galleryImage">
                        <article class="slider__item js-slider-item" style="background-image: url(<f:uri.image image='{galleryImage}' absolute='true' cropVariant='16to9' />);"></article>
                    </f:for>
                    <div class="bar bar--bottom bar--border">
                        <div class="bar__icons bar__icons--right">
                            <a class="bar__icon js-slide-prev is-disabled" href=""><svg class="icon"><use xlink:href="#ui-prev"></use></svg></a>
                            <a class="bar__icon js-slide-next" href=""><svg class="icon"><use xlink:href="#ui-next"></use></svg></a>
                        </div>
                        <div class="bar__icons bar__icons--left">
                            <div class="bar__text align-center">
                                <span class="js-slider-counter">
                                    <span class="current__slide">1</span> / <span class="max__slides"><f:count>{project.galleryImages}</f:count></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </f:if>
        </div>
    </div>
</f:if>
