<div>
    <f:if condition="{isPayed}">
        <f:else>
            <p>Upps! Da ist leider etwas schief gelaufen. Haben Sie bei der Bestätigung womöglich zu lange gezögert? Bitte probieren Sie es erneut.</p>
        </f:else>
        <f:then>
            <p>Vielen Dank für Ihr Engagement!</p>
            <p>Sie erhalten in Kürze eine E-Mail zur Bestätigung mit allen Informationen</p>
            <p>Bei Fragen und Anregungen sind wir immer gerne für Sie da unter <f:link.email email="info@hgon.de" />.</p>
        </f:then>
    </f:if>

</div>