<f:if condition="{isPayPalPlus}">
    <f:then>
        <script src="https://www.paypalobjects.com/webstatic/ppplusdcc/ppplusdcc.min.js" type="text/javascript">
        </script>
        <div id="ppplus">
        </div>
        <script type="application/javascript">
            var ppp = PAYPAL.apps.PPP({
                  "approvalUrl": "<f:format.raw>{approvalUrl}</f:format.raw>",
                  "placeholder": "ppplus",
                  "mode": "sandbox",
                  "country": "DE",
                  "language": "DE",
                  "useraction": "commit"
              });
        </script>
    </f:then>
    <f:else>

        <f:if condition="{requestIsInvalid}">
            <f:then>
                <div>
                    <p><b>Upps!</b></p>
                    <p>Hier ist etwas schief gelaufen. Aktuell können aus technischen Gründen keine monatlichen Spenden abgeschlossen werden. Bitte probieren Sie es später nocheinmal!</p>
                </div>
            </f:then>
            <f:else>
                <a href="<f:format.raw>{approvalUrl}</f:format.raw>">
                    <f:translate key="tx_hgondonation_partials_donation_createMoney.forwardToPayPal" />
                </a>
            </f:else>
        </f:if>
    </f:else>
</f:if>
