<f:if condition="<f:count>{donationList}</f:count>">
    <f:then>
        <f:for each="{donationList}" as="donation">
        <tr>
            <f:render section="inner" arguments="{donation: donation}" />
        </tr>
        </f:for>
    </f:then>
    <f:else>
        <div class="flex-item c-12">
            <article class="card card-plainfull">
                <div class="card__inner">
                    <div class="flex-container">
                        <div class="flex-item c-4">
                            <header class="card__header">
                                <h3 class="headline">
                                    <f:translate key="tx_hgondonation_partials_donation_list.oops" />
                                </h3>
                            </header>
                        </div>
                        <div class="flex-item c-7">
                            <div class="card__content">
                                <f:translate key="tx_hgondonation_partials_donation_list.noDonations" />
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </f:else>
</f:if>

<f:section name="inner">


    <td>
        <f:if condition="{donation.title}">
            <f:then>
                <h4>{donation.title}</h4>
                <p>{donation.shortDescription}</p>
            </f:then>
            <f:else>
                <f:comment><!-- we got a donation money in this case (an RKW Projects item) --></f:comment>
                <h4>{donation.name}</h4>
            </f:else>
        </f:if>

    </td>

    <f:comment><!-- Donation Type Time --></f:comment>
    <f:if condition="{donation.type} == 1">
        <f:then>
            <td>
                {donation.donationPlace.0.title}
            </td>
            <td>
                {donation.timeRequirement}
            </td>
            <td>
                <f:if condition="{donation.timeRangeStart}">
                    <f:then>
                        <f:format.date format="d.m.Y">{donation.timeRangeStart}</f:format.date> - <f:if condition="{donation.timeRangeEnd}"><f:then><f:format.date format="d.m.Y">{donation.timeRangeEnd}</f:format.date></f:then><f:else>Offen</f:else></f:if>
                    </f:then>
                    <f:else>
                        Keine Angabe
                    </f:else>
                </f:if>
            </td>
            <td class="align-right">
                <!--
                <a class="btn btn--primary-outline btn--rounded">Unterstützen</a>
                -->
                <f:link.action class="btn btn--primary-outline btn--rounded" action="show" controller="Donation" extensionName="HgonDonation" pageUid="{settings.showPid}" additionalParams="{tx_hgondonation_detail:{donation: donation}}">
                    <f:translate key="tx_hgondonation_partials_donation_list.readMore" extensionName="HgonDonation" />
                </f:link.action>
            </td>
        </f:then>
        <f:else>
            <f:comment><!-- Donation Money -->
                <td class="align-right">
                    <f:link.page pageType="{settings.typeNumClearPage}" pageUid="{settings.donationFormPid}" class="btn btn--primary-outline btn--rounded" additionalParams="{project: donation}" additionalAttributes="{data-featherlight: ''}">
                        <f:translate key="tx_hgondonation_partials_donation_list.donate" extensionName="HgonDonation" />
                    </f:link.page>
                </td>
            </f:comment>
            <td class="align-right">
                <f:link.action class="btn btn--primary-outline btn--rounded" action="show" controller="Donation" extensionName="HgonDonation" pageUid="{settings.showPid}" additionalParams="{tx_hgondonation_detail:{donation: donation}}">
                    <f:translate key="tx_hgondonation_partials_donation_list.readMore" extensionName="HgonDonation" />
                </f:link.action>
            </td>
        </f:else>
    </f:if>





    <f:comment>
        <div class="flex-item {type}">
            <f:comment><!-- use project (optional selected page) image as fallback --></f:comment>
            <f:if condition="{donation.image}">
                <f:then>
                    <f:render partial="FlexItem/01-HeaderArea" arguments="{type: type, image: donation.image}" />
                </f:then>
                <f:else>
                    <f:render partial="FlexItem/01-HeaderArea" arguments="{type: type, image: donation.pages.txRkwbasicsTeaserImage}" />
                </f:else>
            </f:if>

            <div class="card__inner">
                <f:render partial="FlexItem/02-BodyArea" arguments="{title: donation.title, text: donation.shortDescription}" />

                <footer class="card__footer">
                    <f:link.action class="btn btn--rounded btn--tertiary" action="show" controller="Donation" pluginName="Detail" extensionName="HgonDonation" pageUid="{settingsArray.showPid}" arguments="{donation : donation}">
                        <f:translate key="tx_hgondonation_partials_donation_list.readMore" extensionName="HgonDonation" />
                    </f:link.action>
                </footer>
            </div>

            <f:render partial="FlexItem/03-ClosingTag" />
        </div>
    </f:comment>
</f:section>
